
<!DOCTYPE generatorConfiguration 
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
     
<generatorConfiguration>
  <context id="demoTables" targetRuntime="MyBatis3">
 
    <!-- Select結果がマッピングされる、Javaモデルの出力設定 -->
    <javaModelGenerator targetPackage="com.talent.infrastructure.repository.model.generated" targetProject="TalentSearch/src/main/java">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>
      
    <!-- SQLを定義したXMLファイルの出力設定 -->
    <sqlMapGenerator targetPackage="com.talent.infrastructure.repository.mapper.generated"  targetProject="TalentSearch/src/main/resources">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
    
    <!-- Mapperインターフェースの出力設定 -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.talent.infrastructure.repository.mapper.generated"  targetProject="TalentSearch/src/main/java"> 
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>
    
    <!-- 自動生成するテーブルの設定 -->
    <table tableName="%"
      enableInsert="true"
      enableSelectByPrimaryKey="true"
      enableUpdateByPrimaryKey="true"
      enableDeleteByPrimaryKey="true"
      enableSelectByExample="false"
      enableUpdateByExample="false"
      enableDeleteByExample="false"
      enableCountByExample="false"
      selectByPrimaryKeyQueryId="false"
      selectByExampleQueryId="false"
      modelType="flat">
    </table>
  </context>
</generatorConfiguration>